
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Recipe Book</span>
      <span class="example-spacer"></span>
      <button mat-flat-button class="button" color="warn">Recipes</button>
      <button mat-flat-button class="button" color="warn">Shopping List</button>
      <button mat-icon-button color="accent" class="example-icon" aria-label="Example icon-button with menu icon" class="button">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar-row>

    </mat-toolbar>
