<mat-grid-list cols="12" rowHeight="2:1">
  <mat-grid-tile colspan="5" style="background-color: lightblue;"><app-recipe-list></app-recipe-list></mat-grid-tile>
  <mat-grid-tile colspan="7" color='lightgreen' style="background-color: lightgreen;"><app-recipe-detail></app-recipe-detail></mat-grid-tile>
</mat-grid-list>
<!-- <mat-grid-list cols="2">
  <mat-grid-tile>
    <app-recipe-list></app-recipe-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-recipe-detail></app-recipe-detail>
  </mat-grid-tile>
</mat-grid-list> -->
